{% extends 'main/base.html' %}
{% load media_tag %}
{% block content %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'main:create' %}">Добавить продукт</a>
</div>
<div class="row">
    {% for object in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.product_name }}</h4>
            </div>
            <div class="card-body">
                <h2 class="card-title pricing-card-title">{{ object.product_description|slice:5 }} ... </h2>
                <h1 class="card-title pricing-card-title">{{ object.product_price }} RUB</h1>
                <a href="{% url 'main:products' object.pk %}"
                   class="btn btn-sm btn-outline-secondary">View full product</a>
                {% if perms.main.can_edit_product_description and perms.main.can_edit_is_published or user == main.owner %}
                <a href="{% url 'main:edit' object.pk %}" type="button"
                   class="btn btn-sm btn-outline-secondary">Edit product</a>
                {% endif %}
                <a href="{% url 'main:delete' object.pk %}"
                   class="btn btn-sm btn-outline-danger">Delete product</a>
                {% if object.active_version %}
                <a href="{% url 'main:list_versions' object.pk %}"
                   class="btn btn-sm btn-outline-secondary">View product version</a>
                {% endif %}
                <a href="{% url 'main:create_version' object.pk %}"
                   class="btn btn-sm btn-outline-secondary">Create product version</a>
            </div>
            <div>
                {% if object.active_version %}
                <p>Активная версия: {{ object.active_version.version_name }}</p>
                <!-- Другие данные об активной версии, если необходимо -->
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
