{% extends 'main/base.html' %}
{% load media_tag %}
{% block content %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'main:create' %}">Добавить продукт</a>
</div>
<div class="row">
    {% for object in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.product_name }}</h4>
            </div>
            <div class="card-body">
                <h2 class="card-title pricing-card-title">{{ object.product_description|slice:5 }} ... </h2>
                <h1 class="card-title pricing-card-title">{{ object.product_price }} RUB</h1>
                <a href="{% url 'main:products' object.pk %}"
                   class="btn btn-sm btn-outline-secondary">View full product</a>
                <a href="{% url 'main:edit' object.pk %}" type="button"
                   class="btn btn-sm btn-outline-secondary">Edit product</a>
                <a href="{% url 'main:delete' object.pk %}"
                   class="btn btn-sm btn-outline-danger">Delete product</a>
                <a href="{% url 'main:create_version' %}"
                   class="btn btn-sm btn-outline-danger">Add product version</a>
                <a href="{% url 'main:update_version' object.pk %}"
                   class="btn btn-sm btn-outline-danger">Change product version</a>
            </div>
            <div>
                {% if object.version.exists %}
                <p>Версия {{ object.version_name }}</p>
                <p>Номер версии {{ object.version_no }}</p>
                {% else %}
                <p>Номер версии отсутствует</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
